# ----------------------
# Python Bytecode
# ----------------------
__pycache__/
*.py[cod]
*$py.class

# ----------------------
# Virtual environments
# ----------------------
venv/
env/
.venv/


# ----------------------
# System files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# IDE / Editor files
# ----------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ----------------------
# Ignore full lib folder
# ----------------------
lib/

# ----------------------
# Others
# ----------------------
*.sqlite3
*.db
*.pyc
